# Introduction to DataFrames
**[Bogumił Kamiński](http://bogumilkaminski.pl/about/), Apr 21, 2018**

In [1]:
using DataFrames # load package

## Split-apply-combine

In [2]:
x = DataFrame(id=[1,2,3,4,1,2,3,4], id2=[1,2,1,2,1,2,1,2], v=rand(8))

8×3 DataFrames.DataFrame
│ Row │ id │ id2 │ v        │
├─────┼────┼─────┼──────────┤
│ 1   │ 1  │ 1   │ 0.305809 │
│ 2   │ 2  │ 2   │ 0.391227 │
│ 3   │ 3  │ 1   │ 0.256948 │
│ 4   │ 4  │ 2   │ 0.201459 │
│ 5   │ 1  │ 1   │ 0.489054 │
│ 6   │ 2  │ 2   │ 0.620628 │
│ 7   │ 3  │ 1   │ 0.470056 │
│ 8   │ 4  │ 2   │ 0.674783 │

In [3]:
gx1 = groupby(x, :id)

DataFrames.GroupedDataFrame  4 groups with keys: Symbol[:id]
First Group:
2×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ id2 │ v        │
├─────┼────┼─────┼──────────┤
│ 1   │ 1  │ 1   │ 0.305809 │
│ 2   │ 1  │ 1   │ 0.489054 │
⋮
Last Group:
2×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ id2 │ v        │
├─────┼────┼─────┼──────────┤
│ 1   │ 4  │ 2   │ 0.201459 │
│ 2   │ 4  │ 2   │ 0.674783 │

In [4]:
gx2 = groupby(x, [:id, :id2])

DataFrames.GroupedDataFrame  4 groups with keys: Symbol[:id, :id2]
First Group:
2×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ id2 │ v        │
├─────┼────┼─────┼──────────┤
│ 1   │ 1  │ 1   │ 0.305809 │
│ 2   │ 1  │ 1   │ 0.489054 │
⋮
Last Group:
2×3 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ id2 │ v        │
├─────┼────┼─────┼──────────┤
│ 1   │ 4  │ 2   │ 0.201459 │
│ 2   │ 4  │ 2   │ 0.674783 │

In [5]:
vcat(gx2...) # back to the original DataFrame

8×3 DataFrames.DataFrame
│ Row │ id │ id2 │ v        │
├─────┼────┼─────┼──────────┤
│ 1   │ 1  │ 1   │ 0.305809 │
│ 2   │ 1  │ 1   │ 0.489054 │
│ 3   │ 2  │ 2   │ 0.391227 │
│ 4   │ 2  │ 2   │ 0.620628 │
│ 5   │ 3  │ 1   │ 0.256948 │
│ 6   │ 3  │ 1   │ 0.470056 │
│ 7   │ 4  │ 2   │ 0.201459 │
│ 8   │ 4  │ 2   │ 0.674783 │

In [6]:
x = DataFrame(id = [missing, 5, 1, 3, missing], x = 1:5)

5×2 DataFrames.DataFrame
│ Row │ id      │ x │
├─────┼─────────┼───┤
│ 1   │ missing │ 1 │
│ 2   │ 5       │ 2 │
│ 3   │ 1       │ 3 │
│ 4   │ 3       │ 4 │
│ 5   │ missing │ 5 │

In [7]:
showall(groupby(x, :id)) # by default groups include mising values and are not sorted

DataFrames.GroupedDataFrame  4 groups with keys: Symbol[:id]
gd[1]:
2×2 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id      │ x │
├─────┼─────────┼───┤
│ 1   │ missing │ 1 │
│ 2   │ missing │ 5 │gd[2]:
1×2 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ x │
├─────┼────┼───┤
│ 1   │ 5  │ 2 │gd[3]:
1×2 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ x │
├─────┼────┼───┤
│ 1   │ 1  │ 3 │gd[4]:
1×2 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ x │
├─────┼────┼───┤
│ 1   │ 3  │ 4 │

In [8]:
showall(groupby(x, :id, sort=true, skipmissing=true)) # but we can change it :)

DataFrames.GroupedDataFrame  3 groups with keys: Symbol[:id]
gd[1]:
1×2 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ x │
├─────┼────┼───┤
│ 1   │ 1  │ 3 │gd[2]:
1×2 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ x │
├─────┼────┼───┤
│ 1   │ 3  │ 4 │gd[3]:
1×2 DataFrames.SubDataFrame{Array{Int64,1}}
│ Row │ id │ x │
├─────┼────┼───┤
│ 1   │ 5  │ 2 │

In [9]:
x = DataFrame(id=rand('a':'d', 100), v=rand(100));
by(x, :id, y->mean(y[:v])) # apply a function to each group of a data frame

4×2 DataFrames.DataFrame
│ Row │ id  │ x1       │
├─────┼─────┼──────────┤
│ 1   │ 'a' │ 0.523672 │
│ 2   │ 'b' │ 0.537341 │
│ 3   │ 'd' │ 0.458676 │
│ 4   │ 'c' │ 0.499453 │

In [10]:
by(x, :id, y->mean(y[:v]), sort=true) # we can sort the output

4×2 DataFrames.DataFrame
│ Row │ id  │ x1       │
├─────┼─────┼──────────┤
│ 1   │ 'a' │ 0.523672 │
│ 2   │ 'b' │ 0.537341 │
│ 3   │ 'c' │ 0.499453 │
│ 4   │ 'd' │ 0.458676 │

In [11]:
by(x, :id, y->DataFrame(res=mean(y[:v]))) # this way we can set a name for a column - DataFramesMeta @by is better

4×2 DataFrames.DataFrame
│ Row │ id  │ res      │
├─────┼─────┼──────────┤
│ 1   │ 'a' │ 0.523672 │
│ 2   │ 'b' │ 0.537341 │
│ 3   │ 'd' │ 0.458676 │
│ 4   │ 'c' │ 0.499453 │

In [12]:
x = DataFrame(id=rand('a':'d', 100), x1=rand(100), x2=rand(100))
aggregate(x, :id, sum) # apply a function over all columns of a data frame in groups given by id

4×3 DataFrames.DataFrame
│ Row │ id  │ x1_sum  │ x2_sum  │
├─────┼─────┼─────────┼─────────┤
│ 1   │ 'c' │ 14.7061 │ 11.7598 │
│ 2   │ 'b' │ 11.3694 │ 9.21505 │
│ 3   │ 'a' │ 14.5423 │ 12.0944 │
│ 4   │ 'd' │ 10.9314 │ 10.3805 │

In [13]:
aggregate(x, :id, sum, sort=true) # also can be sorted

4×3 DataFrames.DataFrame
│ Row │ id  │ x1_sum  │ x2_sum  │
├─────┼─────┼─────────┼─────────┤
│ 1   │ 'a' │ 14.5423 │ 12.0944 │
│ 2   │ 'b' │ 11.3694 │ 9.21505 │
│ 3   │ 'c' │ 14.7061 │ 11.7598 │
│ 4   │ 'd' │ 10.9314 │ 10.3805 │

*We omit the discussion of of map/combine as I do not find them very useful (better to use by)*

In [14]:
x = DataFrame(rand(3, 5))

3×5 DataFrames.DataFrame
│ Row │ x1       │ x2        │ x3       │ x4       │ x5       │
├─────┼──────────┼───────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.945035 │ 0.0997115 │ 0.806288 │ 0.30923  │ 0.271485 │
│ 2   │ 0.210335 │ 0.594834  │ 0.895877 │ 0.442921 │ 0.634513 │
│ 3   │ 0.289443 │ 0.350774  │ 0.441061 │ 0.35858  │ 0.889212 │

In [15]:
map(mean, eachcol(x)) # map a function over each column and return a data frame

1×5 DataFrames.DataFrame
│ Row │ x1       │ x2      │ x3       │ x4       │ x5       │
├─────┼──────────┼─────────┼──────────┼──────────┼──────────┤
│ 1   │ 0.481604 │ 0.34844 │ 0.714409 │ 0.370244 │ 0.598403 │

In [16]:
foreach(c -> println(c[1], ": ", mean(c[2])), eachcol(x)) # a raw iteration returns a tuple with column name and values

x1: 0.4816043926633542
x2: 0.34843991152206805
x3: 0.7144087007367234
x4: 0.3702439522046452
x5: 0.5984033693699742

In [17]:
colwise(mean, x) # colwise is similar, but produces a vector

5-element Array{Float64,1}:
 0.481604
 0.34844
 0.714409
 0.370244
 0.598403

In [18]:
x[:id] = [1,1,2]
colwise(mean,groupby(x, :id)) # and works on GroupedDataFrame

2-element Array{Array{Float64,1},1}:
 [0.577685, 0.347273, 0.851083, 0.376076, 0.452999, 1.0]
 [0.289443, 0.350774, 0.441061, 0.35858, 0.889212, 2.0]

In [19]:
map(r -> r[:x1]/r[:x2], eachrow(x)) # now the returned value is DataFrameRow which works similarly to a one-row DataFrame

3-element Array{Float64,1}:
 9.47769
 0.353603
 0.825155